/Group_Project2/nbproject/private/
/Group_Project2/build/
/Group_Project1/nbproject/private/
/Group_Lab8/nbproject/private/
/Group_Project1/build/
/Group_Lab8/build/
/Final_Project/build/
/Final_Project/nbproject/private/
Databank.db4o
*.DS_Store
